<template>
  <div>
    <ul class="list-group">
        <!--elementos unicos, para eso es el key-->
      <li @click="aumentar(index)" v-for="(item, index) of sortArry" :key="item.id" class="list-group-item d-flex justify-content-between align-items-center">
        {{index}}---{{item.name}}
        <span class="badge badge-primary badge-pill">{{item.cantidad}}</span>
      </li>
    </ul>
    <button class="btn btn-danger btn-block" @click="reiniciar">Reiniciar</button>
  </div>
</template>
<script>
import { mapState, mapMutations} from "vuex";


export default {
  name: "Lista",
  computed:{
      ...mapState(['comidas']),
      sortArry(){
          //ordena de mayor a menor
          return this.comidas.sort((a,b) => b.cantidad - a.cantidad)
      }
  },
  methods:{
      ...mapMutations(['aumentar', 'reiniciar'])
  }

  
};
</script>