<template>
    <div class="text-center mt-4">
        <img alt="Vue logo" src="@/assets/logo.png">
        <h1>Comida</h1>
    </div>
</template>
<script>
export default {
    name:'Top',
    
    
}
</script>

