<template>
  <div id="app" class="container">
    
    <Top></Top>
   <Lista></Lista>
  </div>
</template>

<script>
//como estamos exportando por defecto podemos ponerle el nombre por defecto

import Top from './components/Top.vue';
import Lista from './components/Lista.vue'

export default {
  name: 'app',
  components: {  
    Top,
    Lista
  }
}
</script>
